:root {
    --brandPrimary: #47a0ce;
    --lightgreen: #47ce86;
    --darkgreen: #32b46f;
    --border: 6px solid var(--brandPrimary);
}

* {
    font-family:'Courier New', Courier, monospace;
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
}

header {
    background: var(--brandPrimary);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    padding: 30px 15px 15px 15px;
}

nav a {
    font-size: 22px;
    margin: 0 20px;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    padding: 60px 15px;
}

#logo-container {
    display: inline-block;
    position: relative;
    top: 20px;
    background: var(--brandPrimary);
    padding: 10px 26px;
}

#logo-container h2 {
    margin-bottom: 0;
}

.bg-dark {
    background: black;
    color: var(--brandPrimary);
}

.bg-dark a {
    color: var(--brandPrimary);
}

#hero {
    background: black;
    background-image: url("../images/background.png");
    color: white;
    text-align: center;
    padding: 60px 15px;
    font-size: 42px;
    border-bottom: var(--border);
}

.btn {
    background-color: var(--lightgreen);
    text-decoration: none;
    padding: 10px 25px;
    font-weight: bold;
    color: black;
}

.btn:hover {
    background: var(--darkgreen);
}

.callout {
    border: 2px solid var(--brandPrimary);
    text-align: center;
    margin: 0 30px;
    padding: 20px 0;
}

#gallery {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
.gallery-item {
    background: black;
    color: white;
    margin: 2px;
    width: 240px;
    height: 240px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: var(--border);
    position: relative;
  }

.gallery-item:hover {
      background-color: var(--lightgreen);
      border-color: white;
  }

.gallery-item:hover .on-sale {
    background-color: white;
}

.gallery-item:hover i {
    transform: scale(1.25);
}

.on-sale {
    background-color: var(--lightgreen);
    color: black;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 0;
}

.gallery-item p {
    margin-top: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 14px;
    border-top: var(--border)
}

footer h3 {
    font-size: 20px;
}

footer i {
    color:white;
}

/* Media Queries */
@media (max-width: 767px) {
    header {
        flex-direction: column; 
        align-items: stretch;  
    }
    nav {
        background-color: black;
    }
    nav a {
        color: var(--brandPrimary);
        margin: 0 10px;
    }
    main {
        flex-direction: column;
    }
    .callout {
        margin-bottom: 20px;
    }
    footer {
        flex-direction: column;
        padding-bottom: 15px;
    }
}